### Extracting `API_KEY` from `.env`

In [1]:
import numpy as np
from dotenv import load_dotenv
from pathlib import Path
import os
import requests
import pandas as pd
import numpy as np
from pathlib import Path

load_dotenv()  
API_KEY = os.getenv("API_KEY") 

if API_KEY is not None:
    print("API KEY loaded!")

API KEY loaded!

### Helper Function(s)

In [22]:
def set_homework4_dir():
    """
    Sets the working directory to the homework4 folder.
    """
    path = r"C:\Users\Lenovo\Jupyter Notebooks\Bootcamp\bootcamp_deep_gandhi\homework\homework4"
    os.chdir(path)
    print(f"Working directory set to: {os.getcwd()}")

# **API PULL**
- API Provider: Alpha Vantage
- Data Type: Historical Options Data
- No Missing Values (Checked with `df.isna().sum().sum()`)
- Changed all columns to appropriate data types

In [2]:
url = f'https://www.alphavantage.co/query?function=HISTORICAL_OPTIONS&symbol=IBM&apikey={API_KEY}'
r = requests.get(url)
data = r.json()
data = data['data']
print(data[0])

{'contractID': 'IBM250815C00140000', 'symbol': 'IBM', 'expiration': '2025-08-15', 'strike': '140.00', 'type': 'call', 'last': '112.05', 'mark': '99.70', 'bid': '99.30', 'bid_size': '6', 'ask': '100.10', 'ask_size': '6', 'volume': '0', 'open_interest': '3', 'date': '2025-08-15', 'implied_volatility': '0.01976', 'delta': '1.00000', 'gamma': '0.00000', 'theta': '-0.01661', 'vega': '0.00000', 'rho': '0.00384'}

In [73]:
df = pd.DataFrame(data)
df.head()

,contractID,symbol,expiration,strike,type,last,mark,bid,bid_size,ask,ask_size,volume,open_interest,date,implied_volatility,delta,gamma,theta,vega,rho
0,IBM250815C00140000,IBM,2025-08-15,140.00,call,112.05,99.70,99.30,6,100.10,6,0,3,2025-08-15,0.01976,1.00000,0.00000,-0.01661,0.00000,0.00384
1,IBM250815P00140000,IBM,2025-08-15,140.00,put,0.03,0.01,0.00,0,0.03,10,1,209,2025-08-15,3.35626,-0.00082,0.00007,-0.05881,0.00035,-0.00001
2,IBM250815C00145000,IBM,2025-08-15,145.00,call,0.00,94.70,94.30,6,95.10,6,0,0,2025-08-15,0.01976,1.00000,0.00000,-0.01720,0.00000,0.00397
3,IBM250815P00145000,IBM,2025-08-15,145.00,put,0.15,0.01,0.00,0,2.02,9,1,1,2025-08-15,3.16114,-0.00090,0.00008,-0.06051,0.00038,-0.00001
4,IBM250815C00150000,IBM,2025-08-15,150.00,call,102.25,89.70,89.35,6,90.05,6,0,0,2025-08-15,0.01976,1.00000,0.00000,-0.01779,0.00000,0.00411

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710 entries, 0 to 1709
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   contractID          1710 non-null   object
 1   symbol              1710 non-null   object
 2   expiration          1710 non-null   object
 3   strike              1710 non-null   object
 4   type                1710 non-null   object
 5   last                1710 non-null   object
 6   mark                1710 non-null   object
 7   bid                 1710 non-null   object
 8   bid_size            1710 non-null   object
 9   ask                 1710 non-null   object
 10  ask_size            1710 non-null   object
 11  volume              1710 non-null   object
 12  open_interest       1710 non-null   object
 13  date                1710 non-null   object
 14  implied_volatility  1710 non-null   object
 15  delta               1710 non-null   object
 16  gamma               1710 non-null   object
 17  theta               1710 non-null   object
 18  vega                1710 non-null   object
 19  rho                 1710 non-null   object
dtypes: object(20)
memory usage: 267.3+ KB

In [75]:
if df.isna().sum().sum() == 0:
    print("No Missing Values!")
else:
    print(f"{df.isna().sum().sum()} Missing Values Found!")

No Missing Values!

In [85]:
print(f"Shape of df: {df.shape}")
print(f"Columns: {[i for i in df.columns]}")

Shape of df: (1710, 20)
Columns: ['contractID', 'symbol', 'expiration', 'strike', 'type', 'last', 'mark', 'bid', 'bid_size', 'ask', 'ask_size', 'volume', 'open_interest', 'date', 'implied_volatility', 'delta', 'gamma', 'theta', 'vega', 'rho']

### Changing columns to appropriate data types

In [81]:
df["expiration"] = pd.to_datetime(df["expiration"])
df["date"] = pd.to_datetime(df["date"])

num_cols = ["strike", "last", "mark", "bid", "bid_size", "ask", "ask_size",
    "volume", "open_interest", "implied_volatility", "delta",
    "gamma", "theta", "vega", "rho"]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710 entries, 0 to 1709
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   contractID          1710 non-null   object
 1   symbol              1710 non-null   object
 2   expiration          1710 non-null   datetime64[ns]
 3   strike              1710 non-null   float64
 4   type                1710 non-null   object
 5   last                1710 non-null   float64
 6   mark                1710 non-null   float64
 7   bid                 1710 non-null   float64
 8   bid_size            1710 non-null   int64
 9   ask                 1710 non-null   float64
 10  ask_size            1710 non-null   int64
 11  volume              1710 non-null   int64
 12  open_interest       1710 non-null   int64
 13  date                1710 non-null   datetime64[ns]
 14  implied_volatility  1710 non-null   float64
 15  delta               1710 non-null   float64
 16  gamma               1710 non-null   float64
 17  theta               1710 non-null   float64
 18  vega                1710 non-null   float64
 19  rho                 1710 non-null   float64
dtypes: datetime64[ns](2), float64(11), int64(4), object(3)
memory usage: 267.3+ KB

In [26]:
set_homework4_dir()
df.to_csv("data/raw/api_pull.csv")

Working directory set to: C:\Users\Lenovo\Jupyter Notebooks\Bootcamp\bootcamp_deep_gandhi\homework\homework4

# **Web Scraping**
- Source = `https://www.slickcharts.com/nasdaq100`
- Live data of NASDAQ constituents and their prices
- Scraping dynamic page with Selenium and BeautifulSoup4
- No Null Values verified by `df.isna().sum().sum()`
- Changed all columns to appropriate data types

In [89]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time

driver = webdriver.Chrome()
driver.get("https://www.slickcharts.com/nasdaq100")
time.sleep(20)
soup = BeautifulSoup(response.text, "html.parser")

soup = BeautifulSoup(driver.page_source, "html.parser")
table = soup.find("table")
rows = []

for tr in table.find("tbody").find_all("tr"):
    cols = [td.text.strip() for td in tr.find_all("td")]
    rows.append(cols)

df = pd.DataFrame(rows)
df.head(10)
driver.quit()

   0               1     2       3       4       5         6     7
0  1          Nvidia  NVDA  14.38%  182.26    1.81   (1.01%)
1               None  None    None    None    None      None  None
2  2       Microsoft  MSFT  12.47%  518.46   -1.71  (-0.33%)
3               None  None    None    None    None      None  None
4  3      Apple Inc.  AAPL  11.10%  231.12   -0.47  (-0.20%)
5               None  None    None    None    None      None  None
6  4          Amazon  AMZN   7.93%  229.69   -1.34  (-0.58%)
7               None  None    None    None    None      None  None
8  5  Meta Platforms  META   6.21%  764.10  -21.13  (-2.69%)
9               None  None    None    None    None      None  None

In [90]:
df_even = df[df.index % 2 == 0].reset_index(drop=True)
df_even = df_even.iloc[:, :-3]

df_even.columns = ["Rank", "Company", "Symbol", "Weight", "Price"]
df_even.head(10)

  Rank                  Company Symbol  Weight     Price
0    1                   Nvidia   NVDA  14.38%    182.26
1    2                Microsoft   MSFT  12.47%    518.46
2    3               Apple Inc.   AAPL  11.10%    231.12
3    4                   Amazon   AMZN   7.93%    229.69
4    5           Meta Platforms   META   6.21%    764.10
5    6            Broadcom Inc.   AVGO   4.59%    301.61
6    7  Alphabet Inc. (Class A)  GOOGL   4.13%    204.10
7    8  Alphabet Inc. (Class C)   GOOG   3.87%    205.06
8    9              Tesla, Inc.   TSLA   3.47%    332.86
9   10                  Netflix   NFLX   1.72%  1,248.10

In [91]:
df_even.isna().sum().sum()

0

In [92]:
df = df_even
df['Rank'] = df['Rank'].astype(int)
df["Price"] = df["Price"].str.replace(",", "", regex=False).astype(float)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     101 non-null    int32
 1   Company  101 non-null    object
 2   Symbol   101 non-null    object
 3   Weight   101 non-null    object
 4   Price    101 non-null    float64
dtypes: float64(1), int32(1), object(3)
memory usage: 3.7+ KB

In [94]:
set_homework4_dir()
df.to_csv("data/raw/table.csv")

Working directory set to: C:\Users\Lenovo\Jupyter Notebooks\Bootcamp\bootcamp_deep_gandhi\homework\homework4

### *Confirming `.env` is not committed*

In [99]:
%cd C:\Users\Lenovo\Jupyter Notebooks\Bootcamp\bootcamp_deep_gandhi
gitignore_path = Path(".gitignore")
with open(gitignore_path, "r") as f:
    gitignore_content = f.read().splitlines()

if ".env" in gitignore_content or any(line.strip() == ".env" for line in gitignore_content):
    print(".env is listed in .gitignore (safe).")
else:
    print(".env is NOT listed in .gitignore!")

C:\Users\Lenovo\Jupyter Notebooks\Bootcamp\bootcamp_deep_gandhi
.env is listed in .gitignore (safe).

# **Assumptions and Risks:**
- API rate limit of Alpha vantage is 25 requests/day
- Website is dynamic and so we wait 20s for it load then scrape
- Website may change format, then we need to write new code
- Confirmed `.env` is not committed