### Extracting `API_KEY` from `.env`

In [1]:
import numpy as np
from dotenv import load_dotenv
from pathlib import Path
import os
import requests
import pandas as pd
import numpy as np
from pathlib import Path

load_dotenv()  
API_KEY = os.getenv("API_KEY") 

if API_KEY is not None:
    print("API KEY loaded!")

data_raw = Path(os.getenv("DATA_RAW"))
data_processed = Path(os.getenv("DATA_PROCESSED"))

API KEY loaded!

# **API PULL**
- API Provider: Alpha Vantage
- Data Type: Historical Options Data
- No Missing Values (Checked with `df.isna().sum().sum()`)
- Changed all columns to appropriate data types

In [2]:
url = f'https://www.alphavantage.co/query?function=HISTORICAL_OPTIONS&symbol=IBM&apikey={API_KEY}'
r = requests.get(url)
data = r.json()
data = data['data']
print(data[0])

{'contractID': 'IBM250822C00150000', 'symbol': 'IBM', 'expiration': '2025-08-22', 'strike': '150.00', 'type': 'call', 'last': '0.00', 'mark': '91.33', 'bid': '90.75', 'bid_size': '21', 'ask': '91.90', 'ask_size': '17', 'volume': '0', 'open_interest': '0', 'date': '2025-08-19', 'implied_volatility': '0.01976', 'delta': '1.00000', 'gamma': '0.00000', 'theta': '-0.01779', 'vega': '0.00000', 'rho': '0.01232'}

In [3]:
df = pd.DataFrame(data)
df.head()

,contractID,symbol,expiration,strike,type,last,mark,bid,bid_size,ask,ask_size,volume,open_interest,date,implied_volatility,delta,gamma,theta,vega,rho
0,IBM250822C00150000,IBM,2025-08-22,150.00,call,0.00,91.33,90.75,21,91.90,17,0,0,2025-08-19,0.01976,1.00000,0.00000,-0.01779,0.00000,0.01232
1,IBM250822P00150000,IBM,2025-08-22,150.00,put,0.00,0.01,0.00,0,0.22,37,0,1,2025-08-19,1.73679,-0.00097,0.00009,-0.02067,0.00072,-0.00002
2,IBM250822C00155000,IBM,2025-08-22,155.00,call,0.00,86.12,85.70,31,86.55,14,0,0,2025-08-19,0.01976,1.00000,0.00000,-0.01838,0.00000,0.01274
3,IBM250822P00155000,IBM,2025-08-22,155.00,put,0.00,0.01,0.00,0,0.07,6,0,0,2025-08-19,1.61972,-0.00100,0.00010,-0.01990,0.00074,-0.00002
4,IBM250822C00160000,IBM,2025-08-22,160.00,call,0.00,81.17,80.80,14,81.55,5,0,0,2025-08-19,0.01976,1.00000,0.00000,-0.01897,0.00000,0.01315

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1624 entries, 0 to 1623
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   contractID          1624 non-null   object
 1   symbol              1624 non-null   object
 2   expiration          1624 non-null   object
 3   strike              1624 non-null   object
 4   type                1624 non-null   object
 5   last                1624 non-null   object
 6   mark                1624 non-null   object
 7   bid                 1624 non-null   object
 8   bid_size            1624 non-null   object
 9   ask                 1624 non-null   object
 10  ask_size            1624 non-null   object
 11  volume              1624 non-null   object
 12  open_interest       1624 non-null   object
 13  date                1624 non-null   object
 14  implied_volatility  1624 non-null   object
 15  delta               1624 non-null   object
 16  gamma               1624 non-null   object
 17  theta               1624 non-null   object
 18  vega                1624 non-null   object
 19  rho                 1624 non-null   object
dtypes: object(20)
memory usage: 253.9+ KB

In [5]:
if df.isna().sum().sum() == 0:
    print("No Missing Values!")
else:
    print(f"{df.isna().sum().sum()} Missing Values Found!")

No Missing Values!

In [6]:
print(f"Shape of df: {df.shape}")
print(f"Columns: {[i for i in df.columns]}")

Shape of df: (1624, 20)
Columns: ['contractID', 'symbol', 'expiration', 'strike', 'type', 'last', 'mark', 'bid', 'bid_size', 'ask', 'ask_size', 'volume', 'open_interest', 'date', 'implied_volatility', 'delta', 'gamma', 'theta', 'vega', 'rho']

### Changing columns to appropriate data types

In [7]:
df["expiration"] = pd.to_datetime(df["expiration"])
df["date"] = pd.to_datetime(df["date"])

num_cols = ["strike", "last", "mark", "bid", "bid_size", "ask", "ask_size",
    "volume", "open_interest", "implied_volatility", "delta",
    "gamma", "theta", "vega", "rho"]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1624 entries, 0 to 1623
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   contractID          1624 non-null   object
 1   symbol              1624 non-null   object
 2   expiration          1624 non-null   datetime64[ns]
 3   strike              1624 non-null   float64
 4   type                1624 non-null   object
 5   last                1624 non-null   float64
 6   mark                1624 non-null   float64
 7   bid                 1624 non-null   float64
 8   bid_size            1624 non-null   int64
 9   ask                 1624 non-null   float64
 10  ask_size            1624 non-null   int64
 11  volume              1624 non-null   int64
 12  open_interest       1624 non-null   int64
 13  date                1624 non-null   datetime64[ns]
 14  implied_volatility  1624 non-null   float64
 15  delta               1624 non-null   float64
 16  gamma               1624 non-null   float64
 17  theta               1624 non-null   float64
 18  vega                1624 non-null   float64
 19  rho                 1624 non-null   float64
dtypes: datetime64[ns](2), float64(11), int64(4), object(3)
memory usage: 253.9+ KB

In [9]:
df.to_csv(data_raw / "api_pull.csv")

# **Web Scraping**
- Source = `https://www.slickcharts.com/nasdaq100`
- Live data of NASDAQ constituents and their prices
- Scraping dynamic page with Selenium and BeautifulSoup4
- No Null Values verified by `df.isna().sum().sum()`
- Changed all columns to appropriate data types

In [24]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.slickcharts.com/nasdaq100"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/139.0.0.0 Safari/537.36"
}

response = requests.get(url, headers=headers)
response.raise_for_status()

soup = BeautifulSoup(response.text, "html.parser")
table = soup.find("table")

rows = []
for tr in table.find("tbody").find_all("tr"):
    cols = [td.text.strip() for td in tr.find_all("td")]
    rows.append(cols)

df = pd.DataFrame(rows)
df = df.iloc[:, :-1]
df.columns = ["Rank", "Company", "Symbol", "Weight", "Price", "Chg", "% Chg"]
df.head(10)

  Rank         Company Symbol  Weight   Price     Chg     % Chg
0    1          Nvidia   NVDA  13.83%  169.26   -6.38  (-3.63%)
1                 None   None    None    None    None      None
2    2       Microsoft   MSFT  12.62%  506.82   -2.95  (-0.58%)
3                 None   None    None    None    None      None
4    3      Apple Inc.   AAPL  11.26%  226.39   -4.17  (-1.81%)
5                 None   None    None    None    None      None
6    4          Amazon   AMZN   7.90%  221.24   -6.77  (-2.97%)
7                 None   None    None    None    None      None
8    5  Meta Platforms   META   6.17%  733.25  -18.23  (-2.43%)
9                 None   None    None    None    None      None

In [26]:
df_even = df[df.index % 2 == 0].reset_index(drop=True)
df_even = df_even.iloc[:, :-3]

df_even.head(10)

  Rank                  Company Symbol  Weight
0    1                   Nvidia   NVDA  13.83%
1    2                Microsoft   MSFT  12.62%
2    3               Apple Inc.   AAPL  11.26%
3    4                   Amazon   AMZN   7.90%
4    5           Meta Platforms   META   6.17%
5    6            Broadcom Inc.   AVGO   4.48%
6    7  Alphabet Inc. (Class A)  GOOGL   4.13%
7    8  Alphabet Inc. (Class C)   GOOG   3.87%
8    9              Tesla, Inc.   TSLA   3.41%
9   10                  Netflix   NFLX   1.70%

In [27]:
df_even.isna().sum().sum()

0

In [29]:
df = df_even
df['Rank'] = df['Rank'].astype(int)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     101 non-null    int32
 1   Company  101 non-null    object
 2   Symbol   101 non-null    object
 3   Weight   101 non-null    object
dtypes: int32(1), object(3)
memory usage: 2.9+ KB

In [31]:
df.to_csv(data_raw / "table.csv")

### *Confirming `.env` is not committed*

In [32]:
%cd C:\Users\Lenovo\Jupyter Notebooks\Bootcamp\bootcamp_deep_gandhi
gitignore_path = Path(".gitignore")
with open(gitignore_path, "r") as f:
    gitignore_content = f.read().splitlines()

if ".env" in gitignore_content or any(line.strip() == ".env" for line in gitignore_content):
    print(".env is listed in .gitignore (safe).")
else:
    print(".env is NOT listed in .gitignore!")

C:\Users\Lenovo\Jupyter Notebooks\Bootcamp\bootcamp_deep_gandhi
.env is listed in .gitignore (safe).

# **Assumptions and Risks:**
- API rate limit of Alpha vantage is 25 requests/day
- Website is dynamic and so we wait 20s for it load then scrape
- Website may change format, then we need to write new code
- Confirmed `.env` is not committed